@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  @media (prefers-color-scheme: dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
